.content {
    margin-top: 20px;
    display: grid;
    width: 100%;
    justify-items: center;
    /*place-items: center;*/
    overflow: auto;
}

.sCar {
    width: 50%;
}

.deliverDate {
    border-radius: 5px;
    width: 100%;
    display: grid;
    height: 35px;
    text-align: center;
    font-size: 18px;
    justify-items: center;
    place-items: center;

    background-color: rgba(41, 193, 126, 0.5);
}

.pro-col1 {
    margin: 15px 0;
    overflow-y: scroll;
    height: 65vh;
}

.summary {
    height: 45px;
}

.amountSum {
    float: left;
    height: 45px;
    margin: auto;
    display: grid;
    font-size: 30px;
    font-weight: bold;
    color: orangered;
}

.amount {
    float: left;
    height: 45px;
    margin: auto;
    display: grid;
    place-items: center;
    justify-items: center;
    color: gray;
}

.goLogin {
    width: 30%;
    height: 45px;
    font-size: 20px;
    float: right;

    background-color: #3bbf9c;
    border: #25b19b;
}

.goLogin:hover {
    background-color: #25b19b;
    border: #25b19b;
    font-weight: bold;
}

.goLogin:active {
    background-color: #25b19b;
    border: #25b19b;
    font-weight: bold;
}

.shoppingList{
    width: 99%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color:beige;
    border-radius: 3%;
    margin-bottom: 2%;
}

.col1{
    display: flex;
    position: relative;
    margin-left: 20px;
    width: 20%;
}

.itemImage{
    height: 160px;
    border-radius: 5%;
    margin-top: 20px;
    width: 100%;
}

.col2{
    margin: 20px 50px 0 20px;
    width: 40%;
}

.itemName{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.priceClass{
    text-align: center;
    margin-top: 50px;
}

.itemPrice{
    margin-bottom: 0.5rem;
    text-align: center;
    color: red;
    font-size: 25px;
}

.itemOrigPrice{
    color:gray;
    text-decoration: line-through;
    text-align: center;
}

.col3{
    float: right;
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.btt{
    width: 40px;
}