.pro-col{
    margin: 2vh 11% 6vh 26%;
    min-width: 300px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    overflow-y: scroll;
    height: 76vh;
}

.merchandise{
    padding: 20px;
    display: flex;
    width: 100%;
    position: relative;
    height: 400px;
    flex-direction: column;
    background-color:beige;
    border-radius: 5%;
}
.picture{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 5%;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
}
.name{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
.description{
    font-size: small;
    text-align: center;
}
.price-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
}
.add-btn{
    background-color: rgb(1, 189, 136);
    color: white;
    width: 100%;
}
.price{
    margin-bottom: 0.5rem;
    text-align: center;
}
.special{
    display: inline-block;
    color: red;
    border: red 1px solid;
    width: 50px;
}

.price-number{
    color: red;
    font-size: 1.5rem;
    font-weight: 900;
}